export LOG_PRETTY=false
export LOG_LEVEL=info

export INPUT=picam3
export CAMERA_FORMAT_FOURCC=MJPG
export RECT_X=990
export RECT_Y=240
export RECT_W=240
export RECT_H=280
export PX_PER_M=40
export MIN_SPEED_KPH=25
export MAX_SPEED_KPH=130

export ENABLE_UPLOAD=true
export UPLOAD_FTP_HOST="ftp.example.org"
export UPLOAD_FTP_PORT=21
export UPLOAD_FTP_USER="ftpuser"
export UPLOAD_FTP_PASSWORD="ftp-password"
export UPLOAD_FTP_PWD="wwwroot/trains/data"

export ENABLE_TEMPERATURE_MEASUREMENT=true

export TRAINBOT_DEPLOY_TARGET_SSH_HOST="pi@rpi.local"
