LOG_PRETTY=false
LOG_LEVEL=info

INPUT=picam3
CAMERA_FORMAT_FOURCC=MJPG
RECT_X=990
RECT_Y=240
RECT_W=240
RECT_H=280
PX_PER_M=40
MIN_SPEED_KPH=25
MAX_SPEED_KPH=130

ENABLE_UPLOAD=true
UPLOAD_FTP_HOST="ftp.example.org"
UPLOAD_FTP_PORT=21
UPLOAD_FTP_USER="ftpuser"
UPLOAD_FTP_PASSWORD="ftp-password"
UPLOAD_FTP_PWD="wwwroot/trains/data"

ENABLE_TEMPERATURE_MEASUREMENT=true

TRAINBOT_DEPLOY_TARGET_SSH_HOST="pi@rpi.local"
